<mat-card>
  <mat-card-title>Charles Styles</mat-card-title>
  <mat-card-subtitle>Mystery Diners CEO</mat-card-subtitle>
  <img
    mat-card-image
    src="https://i.ytimg.com/vi/xFfR_C7MT6Q/maxresdefault.jpg"
  />
  <mat-card-content
    >Hi I'm Charles Styles I'm with a company called Mystery Diners. Would you
    like me to investigate your restaurant?</mat-card-content
  >
  <mat-card-actions>
    <button mat-button>YES</button>
    <button mat-button>YES PLEASE</button>
  </mat-card-actions>
</mat-card>
